input {
    text-align: right;
    width: 100px;
    padding-right: 3px;
}

ul {
    margin: 0;
    padding-left: 0;
}

li {
    margin-left: 20px;
}

.array {
    width: 200px;
}

span:not(.title) {
    background: yellow;
    font-size: 1em;
    text-decoration: underline;
    display: inline;
    color: black;
}

span.title {
    font-size: 20px;
    text-decoration: underline;
    color: red;
    display: block;
    margin-bottom: 5px;
}

label,
textarea {
    vertical-align: top;
    width: 300px;
    height: 100px;
}

#list-item,
#sample {
    display: inline-block;
    vertical-align: top;
}

#list-item span {
    background: none;
    text-decoration: none;
}
